/*---GLOBAL STYLES----*/
p{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.navbar-default{
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.navbar-default .navbar-nav>li>a:hover{
  color:#F8512F;
  background-color: rgba(17, 17, 17, .5);
}
.first-slide{
  background-image: url("../img/wood-2.jpg");
}
.slide-logo{
  max-height: 300px;
}
.carousel-caption{
  padding-bottom: 50px;
}
.carousel-inner .item{
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.second-slide{
  background-image: url('../img/restaurant-2.jpg');
}
.third-slide{
  background-image: url('../img/farm-2.jpg');
}
.btn-primary,
.btn-primary:hover{
  background-color: #F8512F;
  border-color: #F8512F;
}
#our_story{
  min-height: 600px;
  display:flex;
  align-items: center;
}
#our_story h1,
#review h1,
#menu h1{
  font-family: 'Lobster', cursive;
  color:#F8512F;
  font-size: 6em;
  text-shadow: 1px 1px 5px #0A0A0A;

}
#our_story h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 12em;
  color: rgba(149, 147, 147, 0.2);
  position: absolute;
  z-index: -1;
}
#our_story h3{
  font-family:'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
}
/*QUOTE*/
#review{
  display: flex;
  align-items: center;
  justify-content: center; /*to center horizontally as well*/
  min-height: 600px;
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#review p{
  color: #fff;
  font-family:'Raleway', sans-serif;
  font-size: 2em;
  text-shadow: 1px 1px 5px #0a0a0a;
}
#review .container{
  background-color: rgba(20, 20, 20, 0.6);
  padding: 10px;
  border-radius: 5px;
}
/*MENU*/
#menu{
  background-image: url('../img/black_linen.png');
  background-size: cover;
  min-height: 600px;
}
#menu h1{
  color: #fff;
}
#menu a{
  color: #F8512F;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
#menu .tab-pane .row{
  margin: 0;
}
#menu .tab-content .food{
  background-color: #fff;
  padding:10px;
}
#contact{
  background-color: #F8512F;
  min-height: 600px;
  color: #FFF;
  padding-bottom:  50px;
}
#contact h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-top: 50px;
}
#contact form{
  background-color: #FF6633;
  border: 1px solid #fff;
  padding: 15px;
}
#contact .form-group span{
  color: #FF0D06;
}
.name{
  color:#FFF;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding-left: 4em;
}
.name:hover,
.city:hover,
.phone:hover{
  color: #FFF;
  text-decoration: none;
}
.street,
.city,
.phone{
  padding-left: 4em;
  color:#FFF;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
.map{
  padding-left: 5em;
}
